<form action="/payment/results">
  <label for="apr">APR</label>
  <input id="apr" type="text" name="user_apr">

  <label for="num_yrs">Number of years</label>
  <input id="num_yrs" type="text" name="user_num_yrs">

  <label for="pri">Principle</label>
  <input id="pri" type="text" name="user_pri">

  <button>Calculate monthly payment</button>
</form>
